.auth-ui__label {
    display: block;
    color: var(--colors-inputLabelText);
    font-family: var(--fonts-labelFontFamily);
    margin-bottom: var(--space-labelBottomMargin);
    font-size: var(--fontSizes-baseLabelSize);
}